/*!
Theme Name: Brad Zerafa Portfolio
Theme URI: http://bradzerafa.com/
Author: Brad Zerafa
Author URI: http://bradzerafa.com/
Description: A theme for my portfolio, allowing me to add a blog and test plug-ins I make.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
*/



/* HEADER */

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.picme, #jobdiv, #socialheader, .codefreebtn, .arrow, .about2 {

  -webkit-animation: fadein 1.5s ; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.5s ; /* Firefox < 16 */
      -ms-animation: fadein 1.5s ; /* Internet Explorer */
       -o-animation: fadein 1.5s ; /* Opera < 12.1 */
          animation: fadein 1.5s ;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.container-fluid {
padding: 0 !important;
}


#headcolor {
  background-color: #1A2955 !important;
  padding: 0 0 2% 0;
}


.navme {
  width: 35px;
  height: 35px;
}



#jobdiv {
  text-align: left;
  margin:  0 0 0 10%;
  padding: 15px 0 0 0;
  color: #EBEBEB;
  font-family: 'Archivo Black', sans-serif;
}

.job1 {
padding: 30px 0 0 0;
margin: 0;
}

.job2 {
margin: 0 ;
}
.job3 {
padding: 0 0 30px 0;
margin: 0;
}

.insta1 {
  width: 0;
  height: 0;
  margin-right: 0;
  margin-top: 0;
}

.socialheader, .insta1 {
  visibility: hidden;
}

#socialheader {
  margin-right: 0;
}

.socialmedia{
  list-style-type: none;
}


.btncolor{
  background-color: #28a745!important;
  border-color: #28a745 !important;
}

.codefreebtn {
    margin: 15% 0 0 0;
}

.arrow {
  color: #EBEBEB !important;
  font-size: 1.8em !important;
  text-align: center;
  margin: 1% 0 0 0;

}

/* BODY */


.picme {
  clear: both;
  margin: 2.5% 5% 0 5% ;
  width:90%;
  margin-bottom: 5%;
}

.about p {
  margin: 0 5%;
}

.serviceoffer {
  margin-top: 20px;
}

.createcustom, .createcustom1 {
  text-align: center;
}
.createcustom {
  text-decoration: underline;
}

.warn {
  text-transform: capitalize;
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 20px !important;
}



.about h2 {
  text-align: center;
}

.porfolio img {
  margin: 2.5% 10% 0 10% ;
  width:80%;
  float:left;
  margin-left:50%;
}

.portfolioimg {
  float:left;
  margin-left:45%;
}
.service {
  padding: 0 5%;
  text-align: left;
}


/* PORTFOLIO */

.portfolio {
  margin-top: 3%;
  margin-bottom: -25px;
  margin: 0 0 2.5% 0;
}

.portfolio2 {
  margin-top: 2%;
  margin-bottom: 25px;
}


.portdiv {
margin: 0 2.5% !important;
}

.card{
  margin-bottom: 10px !important;
}


/* FOOTER */

.center {
  display: flex;
  justify-content:center;

}

.learntocode {
  display: flex;
  justify-content: flex-end;
}

.social1 {
  margin: 7.5% 0 0 0;
}

.social2 {
  margin: 2.5% 0 2.5% 0;
}

.insta {
  width:25px;
  height:25px;
  margin-right: 5px;
}

.footer{

  text-align: center;
}




/* MEDIA QUERIES */

/* MEDIA QUERY 1 */
 @media screen and (max-width:1023px) and (min-width: 767px) {
  .job1 {
     margin-top: 7.5%;
   }

#socialheader{
  float: right;
  margin-right: 10%;
  margin-top: -115px;
  visibility: visible;
}
.displayinline {
  display: inline-block;

}
   .insta1 {
     width: 80px;
     height: 80px;
     margin-right: 5px;
     visibility: visible;
   }

   /* BODY */

   .picme {

     clear: both;
     margin: 2.5% 0 0 2.5% ;
     width:30%;
     margin-bottom: 5%;
     padding: 0;
     overflow: hidden;
   }
   .aboutpara {
     float: right;
     margin: -37% 0 0 35%;
   }

   .servicediv {
     margin: 0 0 0 0;
     float: left;

   }

   .warn {
     margin-top: 250px !important;
   }

 }

/* MEDIA QUERY 2 */
 @media screen and (max-width:1439px) and (min-width: 1024px) {

.job1 {
  margin-top: 10%;
  font-size: 2.5em;
      }
.job2 {
  font-size: 2.5em;
      }
.job3 {
  font-size: 2.5em;
      }
      .enquirediv{
        margin-top: -38px;
      }

#socialheader{
  float: right;
  margin-right: 5%;
  margin-top: -135px;
  visibility: visible;
   }
.displayinline {
  display: inline-block;

   }
.insta1 {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  visibility: visible;
      }

      /* BODY */

      .picme {

        clear: both;
        margin: 2.5% 0 0 2.5% ;
        width:30%;
        margin-bottom: 5%;
        padding: 0;
        overflow: hidden;
      }
      .aboutpara {
        float: right;
        margin: -35% 0 0 35%;
      }

      .servicediv {
        margin: 0 0 0 0;
        float: left;

      }
      .warn {
        margin-top: 200px !important;
      }
    }


/* MEDIA QUERY 3 */
 @media screen and (max-width:2559px) and (min-width: 1440px) {


   .job1 {
        margin-top: 5%;
        font-size: 2.8em;
      }
      .job2 {
        font-size: 2.8em;
            }
      .job3 {
        font-size: 2.8em;
            }

   #socialheader{
     float: right;
     margin-right: 5%;
     margin-top: -145px;
     visibility: visible;
   }
   .displayinline {
     display: inline-block;

   }

      .insta1 {
        width: 110px;
        height: 110px;
        margin-right: 5px;
        visibility: visible;
      }

      /* BODY */

      .picme {
        clear: both;
        margin: 2.5% 0 0 2.5% ;
        width:30%;
        margin-bottom: 5%;
        padding: 0;
        overflow: hidden;
      }
      .aboutpara {
        float: right;
        margin: -35% 0 0 35%;
        font-size: 1.2em;
      }
      .servicediv {
        margin: 0 0 0 0;
        float: left;

      }
      .warn {
        margin-top: 200px !important;
      }
    }

/* MEDIA QUERY 4 */
 @media screen and (min-width: 2560px) {
   .job1 {
        margin-top: 5%;
        font-size: 3em;
      }
      .job2 {
        font-size: 3em;
            }
      .job3 {
        font-size: 3em;
            }

#socialheader{
  float: right;
  margin-right: 5%;
  margin-top: -115px;
  visibility: visible;
}
.displayinline {
  display: inline-block;

}
   .insta1 {
     width: 80px;
     height: 80px;
     margin-right: 5px;
     margin-top: -170px;
     visibility: visible;
   }


   /* BODY */

   .picme {
     clear: both;
     margin: 2.5% 0 0 2.5% ;
     width:30%;
     margin-bottom: 5%;
     padding: 0;
     overflow: hidden;
   }
   .aboutpara {
     float: right;
     margin: -35% 0 0 35%;
     font-size: 1.2em;
   }

   .servicediv {
     margin: 0 0 0 0;
     float: left;
   }
   .warn {
     margin-top: 200px !important;
   }


 }
