
body {margin:0;}



.topnav {
  overflow: hidden;
  background-color: #333;
}

.branded1 {
	float: left;
	margin-top: 2.5%;
	margin-left: 2%;
	width:48px;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


.form-submit{
  text-align: center;
}

.custom-menu-class #menu-main-menu {
  display:block;
  list-style:none;
}

.custom-menu-class #menu-main-menu li {
  display:inline-block;
}


.hidehamburger {
  display:none;
}

.hamburger{
	float: right;
}


.hamburger:active,
.hamburger:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hamburger-inner:before , .hamburger-inner:after, .hamburger-inner {
	background-color: black !important;
}


@media screen and (max-width:768px) {
  .custom-menu-class #menu-main-menu {
  display:none;
  }
  .hidehamburger {
    display:block;
  }

  .custom-menu-class #menu-main-menu li {
    display:block;
    width:100%;
    clear:both;
  }
}
